.hero {
  position: relative;
  margin-bottom: $section-margin;

  &__title {
    font: $font-title-hero;
    color: $color-mine-shaft;
    z-index: -100;

    &--services {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 150px;
      right: 0;
      left: 0;
      color: $color-white;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }

  .title-active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }


  &__subtitle {
    margin-bottom: 48px;
    font: $font-title-hero;
    z-index: 1;

    &--reverse {
      -webkit-text-stroke: 1.75px $color-white;
      color: transparent;
    }
  }

  &__callback-link {
    position: relative;
    z-index: 1;

    &--reverse {
      border-color: $color-services-border;
      color: $color-white;
    }
  }

  &__services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-top: 1px solid $color-services-border;
    border-bottom: 1px solid $color-services-border;

  }

  &__services-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 85px;
    max-width: 359px;
    border-right: 1px solid $color-services-border;


    &:first-child {
      border-left: 1px solid $color-services-border;
    }

    .is-active {
      display: flex;
    }

    .is-disabled {
      opacity: 0;
      animation-duration: 1s;
    }

    .back-services-link.is-active {
      display: flex;
      -webkit-animation-name: backColUp;
              animation-name: backColUp;
      -webkit-animation-duration: 0.4s;
              animation-duration: 0.4s;
    }
  
    .back-services-link.is-disabled {
        display: flex;
        -webkit-animation-name: dropdownClose;
                animation-name: dropdownClose;
        -webkit-animation-duration: 0.4s;
                animation-duration: 0.4s;
    }
  
    @keyframes dropdownOpen {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      
      @keyframes dropdownClose {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
    }

    .title-repair {
      display: flex;
      justify-content: center;
    }

    .back-services-link {
      display: none;

      &--repair {
        background-color: #EB5757;
        animation: backCol 0.5s ease-in-out;
      }

      &--jobs {
        background-color: #219653;
        animation: backCol 0.5s ease-in-out;
      }

      &--design {
        background-color: #2F80ED;
        animation: backCol 0.5s ease-in-out;
      }

      &--room {
        background-color: #9B51E0;
        animation: backCol 0.5s ease-in-out;
      }
    }

    .back-hero {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &--repair {
        background: url('../img/services-repair.webp') no-repeat center center;
        background-size: cover;
      }

      &--jobs {
        background: url('../img/services-jobs.webp') no-repeat center center;
        background-size: cover;
      }

      &--design {
        background: url('../img/services-design.webp') no-repeat center center;
        background-size: cover;
      }

      &--room {
        background: url('../img/services-room.webp') no-repeat center center;
        background-size: cover;
      }

      &--active {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }


    .btn-arrow{

      &--repair {
        display: block;
        z-index: 1;
      }

      &--jobs {
        display: block;
        z-index: 1;
      }

      &--design {
        display: block;
        z-index: 1;
      }

      &--room {
        display: block;
        z-index: 1;
      }
    }


    @keyframes backColUp {
      0% {
        height: 40%;
      }

      100% {
        height: 100%;
      }
    }
  }

  &__services-btn {
    font: $font-services;
    color: $color-white;
  }

  &__services-description {
    display: none;
    text-align: center;
    margin-bottom: 33px;
    font: $font-services-description;
    color: $color-white;

    &--repair {
      display: block;
      z-index: 1;
    }

    &--jobs {
      display: block;
      z-index: 1;
    }

    &--design {
      display: block;
      z-index: 1;
    }

    &--room {
      display: block;
      z-index: 1;
    }

  }
}

.hero__services-link {
  margin-bottom: 8px;
  font: $font-services;
  color: $color-white;
}

.back-hero {
  z-index: -100;
}

.hero__container {
  padding-top: 150px;
}

.hero-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 84px;
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 172px;
  padding-bottom: 22px;
  max-width: 1440px;
  height: 100%;
  background-image: url('../img/hero-bottom.webp');
  background-size: cover;
  transition: background-image 0.5s ease-in-out;

  &--disable {
    background: transparent;
  }
}

.btn-streak {
  position: absolute;
  top: 18px;
  left: -12px;
  width: 24px;
  height: 1px;
  background-color: $color-mine-shaft;
  transition: background-color 0.3s ease-in-out;

  &--reverse {
    background-color: $color-white;
    transition: background-color 0.3s ease-in-out;
  }
}

.back-services-link {
  position: absolute;
  bottom: 85px;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
  max-width: 360px;
  height: 100%;
}

.btn-arrow--services {
  display: none;
  transform: rotate(-90deg);
  z-index: 1;
}

.arrow-icon {
  fill: $color-white;
  transition: fill 0.5s ease-in-out;
}

@media (max-width:1024px) {
  
  .hero {
    margin-bottom: $section-margin-1024;
    &__title {
      font-size: 58px;
    }

    &__subtitle {
      font-size: 58px;
    }

    &__services-btn {
      font-size: 18px;
    }

    &__services-description {
      font-size: 12px;
    }
  }

  .hero-top {
    margin-bottom: 44px;
  }

  .hero-bottom {
    padding-top: 100px;
  }

  .back-services-link {
    padding: 20px;
  }
  
}

@media (max-width:768px) {

  .hero {
    margin-bottom: $section-margin-768;

    &__container {
      padding-top: 100px;
    }

    &__title {
      font-size: 52px;
      line-height: 64px;

      &--services {
        top: 100px;
      }
    }

    &__subtitle {
      margin-bottom: 24px;
      font-size: 52px;
      line-height: 64px;
    }

    &__services-item {
      padding: 20px;
    }

    &__services-btn {
      margin-bottom: 5px;
      font-family: 'Montserrat';
      font-weight: 600;
      line-height: 20px;
      font-size: 14px;
    }

    &__services-description {
      margin-bottom: 10px;
      font-size: 10px;
    }
  }

  .hero-bottom {
    padding-top: 50px;
  }

  .btn-arrow {
    width: 30px;
    height: 30px;
  }

  .back-services-link {
    bottom: 75px;
    padding: 10px;
  }
}