<section class="examples">
  <div class="container examples__container">
    <h2 class="examples__title">
      <span class="btn-streak btn-streak--title"></span>
      Примеры <span class="text-stroke text-stroke--title">выполненных</span> работ
    </h2>
    <div class="examples__content grid">
      <div class="examples-block">
        <h3 class="examples-block__title">Новостройка</h3>
        <div class="examples-block__price examples-block-price">
          <div class="examples-block-price__left">
            <span class="examples-block-price__title">Сроки</span>
            <span class="examples-block-price__value">4 — 5 дней</span>
          </div>
          <div class="examples-block-price__right">
            <span class="examples-block-price__title">Стоимость</span>
            <span class="examples-block-price__value">Нет данных</span>
          </div>
        </div>
        <picture class="examples-pic">
          <source srcset="/img/ex1.webp" type="image/webp">
          <img class="lazyload" loading="lazy" data-src="/img/ex1.jpg" alt="Фото 1">
        </picture>
      </div>
      <div class="examples-block">
        <h3 class="examples-block__title">Новостройка</h3>
        <div class="examples-block__price examples-block-price">
          <div class="examples-block-price__left">
            <span class="examples-block-price__title">Сроки</span>
            <span class="examples-block-price__value">4 — 5 дней</span>
          </div>
          <div class="examples-block-price__right">
            <span class="examples-block-price__title">Стоимость</span>
            <span class="examples-block-price__value">Нет данных</span>
          </div>
        </div>
        <picture class="examples-pic">
          <source srcset="/img/ex2.webp" type="image/webp">
          <img class="lazyload" loading="lazy" data-src="/img/ex2.jpg" alt="Фото 2">
        </picture>
      </div>
      <div class="examples-block">
        <h3 class="examples-block__title">Вторичка</h3>
        <div class="examples-block__price examples-block-price">
          <div class="examples-block-price__left">
            <span class="examples-block-price__title">Сроки</span>
            <span class="examples-block-price__value">4 — 5 дней</span>
          </div>
          <div class="examples-block-price__right">
            <span class="examples-block-price__title">Стоимость</span>
            <span class="examples-block-price__value">Нет данных</span>
          </div>
        </div>
        <picture class="examples-pic">
          <source srcset="/img/ex3.webp" type="image/webp">
          <img class="lazyload" loading="lazy" data-src="/img/ex3.jpg" alt="Фото 3">
        </picture>
      </div>
      <div class="examples-block">
        <h3 class="examples-block__title">Вторичка</h3>
        <div class="examples-block__price examples-block-price">
          <div class="examples-block-price__left">
            <span class="examples-block-price__title">Сроки</span>
            <span class="examples-block-price__value">4 — 5 дней</span>
          </div>
          <div class="examples-block-price__right">
            <span class="examples-block-price__title">Стоимость</span>
            <span class="examples-block-price__value">Нет данных</span>
          </div>
        </div>
        <picture class="examples-pic">
          <source srcset="/img/ex4.webp" type="image/webp">
          <img class="lazyload" loading="lazy" data-src="/img/ex4.jpg" alt="Фото 4">
        </picture>
      </div>
      <div class="examples-block">
        <h3 class="examples-block__title">Новостройка</h3>
        <div class="examples-block__price examples-block-price">
          <div class="examples-block-price__left">
            <span class="examples-block-price__title">Сроки</span>
            <span class="examples-block-price__value">4 — 5 дней</span>
          </div>
          <div class="examples-block-price__right">
            <span class="examples-block-price__title">Стоимость</span>
            <span class="examples-block-price__value">Нет данных</span>
          </div>
        </div>
        <picture class="examples-pic">
          <source srcset="/img/ex5.webp" type="image/webp">
          <img class="lazyload" loading="lazy" data-src="/img/ex5.jpg" alt="Фото 5">
        </picture>
      </div>
      <div class="examples-block">
        <h3 class="examples-block__title">Новостройка</h3>
        <div class="examples-block__price examples-block-price">
          <div class="examples-block-price__left">
            <span class="examples-block-price__title">Сроки</span>
            <span class="examples-block-price__value">4 — 5 дней</span>
          </div>
          <div class="examples-block-price__right">
            <span class="examples-block-price__title">Стоимость</span>
            <span class="examples-block-price__value">Нет данных</span>
          </div>
        </div>
        <picture class="examples-pic">
          <source srcset="/img/ex6.webp" type="image/webp">
          <img class="lazyload" loading="lazy" data-src="/img/ex6.jpg" alt="Фото 6">
        </picture>
      </div>
      <div class="examples-block">
        <h3 class="examples-block__title">Вторичка</h3>
        <div class="examples-block__price examples-block-price">
          <div class="examples-block-price__left">
            <span class="examples-block-price__title">Сроки</span>
            <span class="examples-block-price__value">4 — 5 дней</span>
          </div>
          <div class="examples-block-price__right">
            <span class="examples-block-price__title">Стоимость</span>
            <span class="examples-block-price__value">Нет данных</span>
          </div>
        </div>
        <picture class="examples-pic">
          <source srcset="/img/ex7.webp" type="image/webp">
          <img class="lazyload" loading="lazy" data-src="/img/ex7.jpg" alt="Фото 7">
        </picture>
      </div>
      <div class="examples-block">
        <h3 class="examples-block__title">Вторичка</h3>
        <div class="examples-block__price examples-block-price">
          <div class="examples-block-price__left">
            <span class="examples-block-price__title">Сроки</span>
            <span class="examples-block-price__value">4 — 5 дней</span>
          </div>
          <div class="examples-block-price__right">
            <span class="examples-block-price__title">Стоимость</span>
            <span class="examples-block-price__value">Нет данных</span>
          </div>
        </div>
        <picture class="examples-pic">
          <source srcset="/img/ex8.webp" type="image/webp">
          <img class="lazyload" loading="lazy" data-src="/img/ex8.jpg" alt="Фото 8">
        </picture>
      </div>
    </div>
    <div class="examples__button">
      <button class="btn-reset btn">
        <span class="btn-streak"></span>
        Все проекты
      </button>
    </div>
  </div>
</section>