<footer class="footer">
    <div class="container footer__container">
        <div class="footer__content">
            <div class="footer__left">
                <span class="copyright"><a class="copyright-strong">&#169; 2022 Сompany. </a>Соглашение об обработке персональных данных и политика конфиденциальности</span>
            </div>
            <div class="footer__right">
                <span class="copyright">
                    Сделано в
                    <a href="" class="copyright-strong company__link">Palladiumlab</a>
                </span>
            </div>
        </div>
    </div>
</footer>