<section class="hero">
  <div class="container hero__container">
    <div class="hero-top">
      <h1 class="hero__title hero__title--main">Ремонт <span class="text-stroke stroke-span">и</span> дизайн</h1>
      <h1 class="hero__subtitle text-stroke">в Москве и Московской области</h1>
      <a href="#" class="btn hero__callback-link">
        <span class="btn-streak btn-streak-hero"></span>
        Оставить заявку
      </a>
    </div>
  </div>
  <div class="hero-bottom">
    <ul class="hero__services-list list-reset">
      <li class="hero__services-item">
        <div class="back-services-link back-services-link--repair" data-target="one">
          <a href="#" class="hero__services-link hero__services-link--off hero__services-link--repair">Услуги по ремонту</a>
          <p class="hero__services-description hero__services-description-off hero__services-description--repair">
            С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
          </p>
          <button class="btn-reset btn-arrow btn-arrow--services btn-arrow--repair">
            <svg width="8" height="15" viewbox="0 0 8 15" class="arrow-icon">
              <use xlink:href="img/sprite.svg#arrow">
              </use>
            </svg>
          </button>
        </div>
        <span class="back-hero back-hero--repair"></span>
        <h1 class="hero__title hero__title--services title-repair">Услуги по ремонту</h1>
        <button href="#" class="btn-reset hero__services-btn btn-repair" data-path="one">Услуги по ремонту</button>
      </li>
      <li class="hero__services-item">
        <div class="back-services-link back-services-link--jobs" data-target="two">
          <a href="#" class="hero__services-link hero__services-link--off hero__services-link--jobs">Виды работ</a>
          <p class="hero__services-description hero__services-description-off hero__services-description--jobs">
            С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
          </p>
          <button class="btn-reset btn-arrow btn-arrow--services btn-arrow--jobs">
            <svg width="8" height="15" viewbox="0 0 8 15" class="arrow-icon">
              <use xlink:href="img/sprite.svg#arrow">
              </use>
            </svg>
          </button>
        </div>
        <span class="back-hero back-hero--jobs"></span>
        <h1 class="hero__title hero__title--services title-jobs">Виды работ по ремонту</h1>
        <button class="btn-reset hero__services-btn btn-jobs" data-path="two">Виды работ</button>
      </li>
      <li class="hero__services-item">
        <div class="back-services-link back-services-link--design" data-target="three">
          <a href="#" class="hero__services-link hero__services-link--off hero__services-link--design">Дизайн интерьера</a>
          <p class="hero__services-description hero__services-description-off hero__services-description--design">
            С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
          </p>
          <button class="btn-reset btn-arrow btn-arrow--services btn-arrow--design">
            <svg width="8" height="15" viewbox="0 0 8 15" class="arrow-icon">
              <use xlink:href="img/sprite.svg#arrow">
              </use>
            </svg>
          </button>
        </div>
        <span class="back-hero back-hero--design"></span>
        <h1 class="hero__title hero__title--services title-design">Дизайн интерьера</h1>
        <button class="btn-reset hero__services-btn btn-design" data-path="three">Дизайн интерьера</button>
      </li>
      <li class="hero__services-item">
        <div class="back-services-link back-services-link--room" data-target="four">
          <a href="#" class="hero__services-link hero__services-link--off hero__services-link--room">Ремонт помещений</a>
          <p class="hero__services-description hero__services-description-off hero__services-description--room">
            С другой стороны реализация намеченных плановых заданий требуют от нас анализа.
          </p>
          <button class="btn-reset btn-arrow btn-arrow--services btn-arrow--room">
            <svg width="8" height="15" viewbox="0 0 8 15" class="arrow-icon">
              <use xlink:href="img/sprite.svg#arrow">
              </use>
            </svg>
          </button>
        </div>
        <span class="back-hero back-hero--room"></span>
        <h1 class="hero__title hero__title--services title-room">Ремонт помещений</h1>
        <button class="btn-reset hero__services-btn btn-room" data-path="four">Ремонт помещений</button>
      </li>
    </ul>
    <button class="btn-reset btn-arrow">
      <svg width="8" height="15" viewbox="0 0 8 15" class="arrow-icon">
        <use xlink:href="img/sprite.svg#arrow">
        </use>
      </svg>
    </button>
  </div>
</section>