//отступы
$section-margin: 136px;
$section-margin-1024: 110px;
$section-margin-768: 60px;
$title-margin: 48px;
$title-margin-1024: 35px;
$title-margin-768: 20px;

//цвета
$color-mine-shaft: #222222;
$color-border-btn:rgba(34, 34, 34, 0.3);
$color-header-border: #EBEBEB;
$color-white: #FFFFFF;
$color-form: #909090;
$color-services-border: rgba(255, 255, 255, 0.3);
$color-hover:#C6876D;
$color-active-link:#6D5247;
$color-examples-title-mini: #BCBCBB;
$color-active: #656565;


//шрифты
$Gilroy: 'Gilroy', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$font-section-title: 800 32px / 40px $Gilroy;
$font-title-mini: 800 14px / 20px $Gilroy;
$font-title-hero: 800 64px / 72px $Gilroy;
$font-services: 800 20px / 24px $Gilroy;
$font-form-title: 500 9px / 12px $Montserrat;
$font-services-description: 400 14px / 20px $Montserrat;
$font-contacts-description: 400 13px / 24px $Montserrat;